@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.section__label {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0.3em;
  line-height: 2;
  text-transform: none;
}