@import url('https://fonts.googleapis.com/css?family=Oswald:500');

.section__heading {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0;
  line-height: 1.5;
  text-transform: none;
}